.search-focus {
    background-color: #6c6b6b;
}

.not-visible {
    display: none;
}

.results-card {
    width: 50%;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    border-radius: 7px;
    padding: 15px 15px;
    margin: 0 auto;
}

.item {
    text-decoration: none
}
li{
    font-size: 3vmin;

}
nav-item{
    color: #000000;
}
body{
    background-color: #d5cdcd;
}

#search{
    margin-left: 12%;

    max-block-size: 50%;
}