.container {
  display: grid;
}

.sticky-stack {
  background: grey;
  color: #fff;
  margin: 0;
  height: 320px;
  border-radius: 1rem;
  overflow-y: auto;
}

.sticky-stack dt {
  position: sticky;
  top: 0;
  font-weight: bold;
  background: #263238;
  color: #cfd8dc;
  padding: 0.25rem 1rem;
}

.sticky-stack dd {
  margin: 0;
  padding: 0.75rem 1rem;
}

.sticky-stack a {
  color: #cfd8dc;
  text-decoration: none;
}

.sticky-stack dd + dt {
  margin-top: 1rem;
}

